.kanban-board {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  background: #f0f2f505;
  height: calc(100vh - 139px);
  max-width: 1400px;
}

.kanban-column {
  background: #fff;
  border-radius: 8px;
  width: 25%;
  //width: 280px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 170px);
}

.kanban-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #f1f1f1;
}

.kanban-tasks {
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
}

.kanban-card {
  margin-bottom: 0.75rem;
}

.task-avatars {
  font-size: 0.85rem;
  color: #666;
}

.empty-column {
  padding: 1rem;
  text-align: center;
  color: #999;
  font-style: italic;
}


.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

h3 {
  font-size: 15px;
  margin-bottom: 0;
}


.mat-mdc-icon-button {
  line-height: 20px;
  height: 30px;
  width: 30px;
  padding: 0;
}
