<div class="kanban-board" cdkDropListGroup>
  <div class="kanban-column border border-secondary rounded-2">
    <div class="kanban-header">
      <h3>To do ({{ kanbanTasks.todo.length }})</h3>
      <button mat-icon-button class="bg-primary text-white" style="line-height: 20px;" (click)="openDialog('To do')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="kanbanTasks.todo.length === 0" class="empty-column">
      No tasks
    </div>
    <div class="kanban-tasks" cdkDropList
         [cdkDropListData]="kanbanTasks.todo"
         (cdkDropListDropped)="drop($event, 'To do')">
      <div *ngFor="let task of kanbanTasks.todo;"
           cdkDrag [cdkDragData]="task">
        <app-task-card [task]="task"/>
      </div>
    </div>
  </div>

  <div class="kanban-column border border-secondary rounded-2">
    <div class="kanban-header">
      <h3>In progress ({{ kanbanTasks.inProgress.length }})</h3>
      <button mat-icon-button class="bg-primary text-white" style="line-height: 20px;"
              (click)="openDialog('In progress')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div *ngIf="kanbanTasks.inProgress.length === 0" class="empty-column">
      No tasks
    </div>

    <div class="kanban-tasks" cdkDropList
         [cdkDropListData]="kanbanTasks.inProgress"
         (cdkDropListDropped)="drop($event, 'In progress')">
      <div *ngFor="let task of kanbanTasks.inProgress;"
           cdkDrag [cdkDragData]="task">
        <app-task-card [task]="task"/>
      </div>
    </div>
  </div>

  <div class="kanban-column border border-secondary rounded-2">
    <div class="kanban-header">
      <h3>Review ({{ kanbanTasks.review.length }})</h3>
      <button mat-icon-button class="bg-primary text-white" style="line-height: 20px;" (click)="openDialog('Review')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="kanbanTasks.review.length === 0" class="empty-column">
      No tasks
    </div>
    <div class="kanban-tasks" cdkDropList
         [cdkDropListData]="kanbanTasks.review"
         (cdkDropListDropped)="drop($event, 'Review')">
      <div *ngFor="let task of kanbanTasks.review;"
           cdkDrag [cdkDragData]="task">
        <app-task-card [task]="task"/>
      </div>
    </div>
  </div>

  <div class="kanban-column border border-secondary rounded-2">

    <div class="kanban-header">
      <h3>Done ({{ kanbanTasks.done.length }})</h3>
      <button mat-icon-button class="bg-primary text-white" style="line-height: 20px;" (click)="openDialog('Done')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="kanbanTasks.done.length === 0" class="empty-column">
      No tasks
    </div>
    <div class="kanban-tasks" cdkDropList
         [cdkDropListData]="kanbanTasks.done"
         (cdkDropListDropped)="drop($event, 'Done')">
      <div *ngFor="let task of kanbanTasks.done;"
           cdkDrag [cdkDragData]="task">
        <app-task-card [task]="task"/>
      </div>
    </div>
  </div>
</div>


