<div class="d-flex flex-column gap-3 p-5">
  <span class="fw-bold">Add task</span>

  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="task.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>start date</mat-label>
    <input matInput [matDatepicker]="start" [(ngModel)]="task.startDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>end date</mat-label>
    <input matInput [matDatepicker]="end" [(ngModel)]="task.endDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>description</mat-label>
    <textarea matInput [(ngModel)]="task.description"></textarea>
  </mat-form-field>
  <section>
    <div class="example-button-row">
      <button matButton="filled" (click)="saveTask()">Save</button>
    </div>
  </section>
</div>
