/* You can add global styles to this file, and also import other style files */

// Variable overrides first
$primary: #3772FF;
$secondary: #54bb7a;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-infix {
  --mat-form-field-container-height: 36px;
}

.mdc-text-field--outlined.small .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  --mat-form-field-container-vertical-padding: 5px;
}

.mat-mdc-select-panel {
  background-color: #fff !important;
  border: 1px solid #ccd9f7;
  margin-top: 4px;
  box-shadow: none !important;
}

.mat-mdc-option.mdc-list-item {
  font-size: 13px;
}

.mat-mdc-select {
  font-size: 14px !important;
}

.border-secondary {
  border-color: rgba(84, 187, 122, 0.2) !important;
}

.mat-mdc-icon-button img, .mat-mdc-icon-button svg {
  --mat-icon-button-icon-size: 20px;
}

.mat-mdc-menu-content {
  background: #fff;
}

button.btn {
  font-size: 13px;
}

.badge {
  max-width: 80px;
  height: 23px;
  font-weight: normal;
  border-radius: 4px;
}

.todo {
  background: #FFB74D;
}

.in-progress {
  background: #42A5F5;
}

.review {
  background: #AB47BC;
}

.done {
  background: #66BB6A;
}
